body{
    font-family: 'Fasthand', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
}



